@import "../fun.less";
.course-wrap{

  .search-wrap{
    position: absolute;

  }

  .white_card{
    font-size: 0;
    border-top: 1px solid #f6f6f6;
    padding-left: .1rem;
    padding-right: .1rem;
    .course_item_box:first-child{margin-top: 0;}
  }
}